.banner {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  margin-top: -76px;
}

.banner::before {
  content: "";
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    );
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.banner-text-area {
  width: 36%;
  position: absolute;
  left: 4%;
  bottom: 35%;
  z-index: 2;
  color: white;
}

.banner-text-area h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner-text-area p {
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  margin-bottom: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.banner-buttons {
  display: flex;
  gap: 1rem;
}

.banner-button {
  border: none;
  border-radius: 4px;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.play-button {
  background-color: white;
  color: black;
}

.play-button:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.info-button {
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
}

.info-button:hover {
  background-color: rgba(109, 109, 110, 0.4);
}

.button-icon {
  font-size: 1.5rem;
}
