/* 전체 컨테이너 스타일 */
.main {
  text-align: center;
}

/* 연락처 제목 스타일 */
h1 {
  text-align: center;
}

/* 메인 폰북 컨테이너 스타일 */
.phone-book-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
  position: relative;
}

/* 개별 섹션 스타일 */
.phone-book-create-main,
.phone-book-search-main {
  width: 45%;
}

/* 생성 버튼 스타일 */
button {
  margin-top: 10px;
}
