ol,
ul {
  list-style-type: none;
}

/* Navbar.jsx */
.navbar-logo-icon-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
}

.navbar-logo {
  flex-grow: 1;
  text-align: center; 
}

.navbar-logo img {
  width: 150px ; 
  height: auto; 
}

.navbar-icon {
  display: flex;
  justify-content: flex-end;
  gap: 15px; 
}

.navbar-menu {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.navbar-menu ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar-menu li {
  margin-right: 10px;
}

.navbar-search-icon{
    margin-right: 5px;
}

.navbar-search{
    border: 0;
    border-bottom: 1px solid black;
}

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px; 
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(0);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.navbar-icon {
  cursor: pointer; 
}

/* productcard.jsx */
.card-section {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}

.card-section img {
  display: block; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 300px;
  border-radius: 20px;
}


.card-section {
  text-align: center; 
}